# 0. Наибольший общий делитель - 1 балл
Напишите функцию, которая на вход принимает два целых числа, а на выходе отдает их наибольших общий делитель. 

Пример

Ввод 

`lcd(10,2)`

Вывод

`2`

Пример

Ввод 

`lcd(10,25)`

Вывод

`5`

In [77]:
def lcd(x, y):
    while y != 0:
        (x, y) = (y, x % y)
    return x
lcd(10,2)

2

In [68]:
lcd(10,25)

5

# 1. Задачка про перевод из `camel_case`'a в `snake_case` - 1.5 балла
 Напишите функцию, которая на вход принимает строку, записанную в `CamelCase`, а переводит ее в `snake_case`.
 Подсказка: идите по строке циклом, обрабатывайте каждый символ, если символ заглавный, к обработанным ранее добавляйте нижнее подчеркивание и нынешний переводите в `lower case` 
 
 Пример:

**Вход**: `'camelCaseVar'`

**Выход**: `'camel_сase_var'`

In [206]:
print('_'.join(['camel', 'Case', 'Var']).lower())

camel_case_var

# 2. Про Поросёнка Петра - 2 балла
На плоскости в точке `(0,0)` стоит Поросёнок Пётр. Он умеет ходить налево, направо, вверх и вниз. Расстояние его прохода в какую-либо сторону измеряется в шагах. Когда он идет вправо, его первая координата увеличивается, когда влево - уменьшается. Когда он идет вверх, его вторая координата увеличивается, а когда вниз - уменьшается.
С клавиатуры считывается число `N` - число ходов, которые сделает Пётр. После чего на каждом шаге спрашивается, сколько шагов и в какую сторону за этот ход Пётр сделает. Так происходит, пока Пётр не осуществит все N ходов.
Программа должна вывести, сколько шагов Пётр должен был бы сделать, чтобы кратчайшим путем прибыть из свое начальной точки `(0,0)` в свою конечную точку. 

Напоминание: Пётр умеет ходить только вверх-вниз, и влево-вправо, но не по диагонали.

Пример ввода:

Введите N: `3`

Ход 1: `Вверх 1`

Ход 2: `Вниз 1`

Ход 3: `Вверх 1`

Пример вывода:
`Пётр находится на расстоянии 1 от (0,0)`

# 3. Sort the keys of the dictionary from a to z.  - 0.5 балла

In [7]:
d_= {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}

for i in sorted(d_):
    print(i, d_[i])

cheesecake 4
chocolate 2
pudding 3
tiramisu 5

# 4. Compare three values, return true only if 2 or more values are equal - 0.5 балла

In [15]:
class Foo(object):
    def __init__(self, item):
        self.my_item = item
    def __eq__(self, other):
        return self.my_item == other.my_item

a = Foo(58)
b = Foo(105)
c = Foo(58)

In [16]:
a == b

False

In [17]:
a == c

True

# 5. Given a list with pairs, sort on the sum of pairs - 0.5 балла

In [1]:
x = [(3,6),(4,7),(5,9),(8,4),(3,1)]

In [22]:
x = [(3,6),(4,7),(5,9),(8,4),(3,1)]
x.sort()
list(map(sum, x))

[4, 9, 11, 14, 12]

# 6. Create a function that takes a list of numbers. Return the largest number in the list. - 0.5 балла

In [ ]:
findLargestNum([4, 5, 1, 3]) ➞ 5

findLargestNum([300, 200, 600, 150]) ➞ 600

findLargestNum([1000, 1001, 857, 1]) ➞ 1001

In [34]:
def max(list):
    max = list[0]
    for x in list:
        if x > max :
             max = x
    return max
print(max(list))

600

In [38]:
def max(list):
    max = list[0]
    for x in list:
        if x > max :
             max = x
    return max
list = [4, 5, 1, 3]
print(max(list))

5

In [39]:
def max(list):
    max = list[0]
    for x in list:
        if x > max :
             max = x
    return max
list = [1000, 1001, 857, 1]
print(max(list))

1001

# 7. Create a function that takes a string and returns the concatenated first and last character. - 0.5 балла

In [ ]:
repetition("ab", 3) ➞ "ababab"

repetition("kiwi", 1) ➞ "kiwi"

repetition("cherry", 2) ➞ "cherrycherry"

In [96]:
def string(str):
    if len(str) < 6:
    return ''

  return str[0:4] + str[-2:]

print(string('ab'))

ababab

In [100]:
def string(str):
    if len(str) < 4:
    return ''

  return str[0:2] + str[-2:]

print(string('kiwi'))

kiwi

In [115]:
def string(str):
    if len(str) < 6:
    return ''

  return str[0:6] + str[:]

print(string('cherry'))

cherrycherry

# 8. Create a function that takes a 2D list lst returns the sum of the minimum value in each row. - 0.5 балла

In [ ]:
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
] ➞ 26

# minimum value of the first row is 1
# minimum value of the second row is 5
# minimum value of the third row is 20

In [67]:
def sum_minimus(a, b, c):
    a = [1, 2, 3, 4, 5]
    b = [5, 6, 7, 8, 9]
    c =  [20, 21, 34, 56, 100]
    return sum_minimus(a, b, c)
print(min(a) + min(b) + min(c))

26

# 9. Create a function to return the amount of potatoes there are in a string. - 0.5 балла

In [ ]:
potatoes("potato") ➞ 1

potatoes("potatopotato") ➞ 2

potatoes("potatoapple") ➞ 1

In [140]:
def potatoes(potato):
    print(potato)
    print(potato.count("potato"))
    return potato.count("potato")
potatoes("potato")

potato
1

1

In [142]:
def potatoes(potato):
    print(potato)
    print(potato.count("potato"))
    return potato.count("potato")
potatoes("potatopotato")

potatopotato
2

2

In [143]:
def potatoes(potato):
    print(potato)
    print(potato.count("potato"))
    return potato.count("potato")
potatoes("potatoapple")

potatoapple
1

1

# 10. Create a function that takes a list of integers as an argument and returns a unique number from that list. All numbers except unique ones have the same number of occurrences in the list. - 0.5 балла

In [ ]:
find_single_number([2, 2, 2, 3, 4, 4, 4]) ➞ 3

find_single_number([2]) ➞ 2

find_single_number([]) ➞ None

find_single_number([7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13]) ➞ 8

find_single_number([1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 101, 4, 3, 1, 5, 6, 2]) ➞ 101

In [162]:
numbers = [] 
x = []
for i in numbers:
    if numbers.count(i) == 1:
        x.append(i)
print(x)

[]

In [161]:
numbers = [2, 2, 2, 3, 4, 4, 4] 
x = []
for i in numbers:
    if numbers.count(i) == 1:
        x.append(i)
print(x)

[3]

In [158]:
numbers = [2] 
x = []
for i in numbers:
    if numbers.count(i) == 1:
        x.append(i)
print(x)

[2]

In [157]:
numbers = [7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13] 
x = []
for i in numbers:
    if numbers.count(i) == 1:
        x.append(i)
print(x)

[8]

In [159]:
numbers = [1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 101, 4, 3, 1, 5, 6, 2]
x = []
for i in numbers:
    if numbers.count(i) == 1:
        x.append(i)
print(x)

[101]

# 11. Given a letter and a list of words, return whether the letter does not appear in any of the words. - 0.5 балла

In [ ]:
forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

In [169]:
def forbidden_letter(words):
    words = []
    letter = ["m"]
    if words in letter:
        return False
    else:
        return True
print(forbidden_letter(words))

True

In [171]:
def forbidden_letter(words):
    words = ["spoon", "fork", "knife"]
    letter = ["a"]
    if words in letter:
        return False
    else:
        return True
print(forbidden_letter(words))

True

In [172]:
def forbidden_letter(words):
    words = ["rock", "paper", "scissors"]
    letter = ["r"]
    if words not in letter:
        return False
    else:
        return True
print(forbidden_letter(words))

False

# 12.  Define a function which create a Pattern like this one.  - 2 балла

In [ ]:
Input: 4
Pattern:

 01234
  | |     0
 -----    1
  | |     2
 -----    3
  | |     4

# 13. Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.  - 0.5 балла

In [ ]:
is_triangle(2, 3, 4) ➞ True

is_triangle(3, 4, 5) ➞ True

is_triangle(4, 3, 8) ➞ False

In [63]:
def is_triangle(sides):
    for i,l in enumerate(sides):
        if sides[i] > (sides[(i+1)%3] + sides[(i+2)%3]): return False
        return True

In [66]:
is_triangle(2,3,4)

True

In [67]:
is_triangle(3,4,5)

True

In [68]:
is_triangle(4,3,8)

True

# 14. Create a "Code" Generator that takes text as input and replaces some letter with another letter, and outputs the "encoded" message. Create funcs to encode and decode messages

In [ ]:
replacement = {"a": "b", "d": "1" ......}

In [10]:
data = 'abbby'
code = {
    "a": "b", "b": "a", "y": "t"
}
c_data = ""
for i in range(0, len(data)):
    if data[i] in code.keys():
        c_data += code[data[i]]
    else:
        c_data += data[i]
print(c_data)

baaat

In [12]:
data = 'baaat'
code = {
    "b": "a", "a": "b", "t": "y"
}
c_data = ""
for i in range(0, len(data)):
    if data[i] in code.keys():
        c_data += code[data[i]]
    else:
        c_data += data[i]
print(c_data)

abbby